{% extends "base.html" %}
{% load mathfilters %}

{% block content %}
<div class="row">
  <nav>
    <div class="col-md-2">
      <a href="{% url 'create_customer_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Customer</small></a>
      <a href="{% url 'customer_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Customer Listing</small></a>
      <a href="{% url 'create_supplier_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Supplier</small></a>
      <a href="{% url 'supplier_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Supplier Listing</small></a>
      <a href="{% url 'create_part_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Part</small></a>
      <a href="{% url 'part_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Part Listing</small></a>
      <a href="{% url 'create_subassembly_view' %}" type="button" class="btn btn-primary btn-block"><small>Create SubAssmbly</small></a>
      <a href="{% url 'subassembly_list_view' %}" type="button" class="btn btn-primary btn-block"><small>SubAssembly Listing</small></a>
      <a href="{% url 'create_assembly_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Assembly</small></a>
      <a href="{% url 'assembly_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Assembly Listing</small></a>
      <a href="{% url 'create_project_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Project</small></a>
      <a href="{% url 'project_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Project Listing</small></a>
    </div>
  </nav>
  <div class="col-md-9">
  {% for object in object_list  %}
  <div class="row">
    <div class="col-md-12 well">
      <h2><small>Id:</small> {{object.pk}}  |  <small>Name:</small> {{object.assembly_name}}  |  <small>Cost/Assembly:</small> ${% for part in object.assemblyquantity_set.all %}{{part.subassembly.subassembly_cost|mul:part.quantity}}{% endfor %}</h2>
    </div>
    <div class="col-md-6 well">
      <h5><small>Part Name:  </small><strong>{{object.assembly_name}}</strong></h5>
      <h5><small>Part Number:  </small><strong>{{object.assembly_part_number}}</strong></h5>
      <h5><small>Description:  </small><strong>{{object.description}}</strong></h5>
      <h5><small>Category:  </small><strong>{{object.category}}</strong></h5>
      <h5><small>Sub Category:  </small><strong>{{object.sub_category}}</strong></h5>
    </div>
    <div class="col-md-6 well">
      <h5><small>Manufacturer:  </small><strong>{{object.supplier}}</strong></h5>
      <h5><small>Manufacturer Part Number:  </small><strong>{{object.supplier_pn}}</strong></h5>
      <h5><small>Finish:  </small><strong>{{object.finish}}</strong></h5>
      <h5><small>Plating:  </small><strong>{{object.plating}}</strong></h5>
      <h5><small><a href="{{object.cad_file.url}}">Click to View CAD</a></small></h5>
    </div>
    <div class="col-md-12 well">
    <h5>{{object.notes}}</h5>
    </div>
  </div>
    <table class="table table-striped table-bordered table-hover">
        <tr>
          <th><small>Part Id</small></th>
          <th><small>Part Name</small></th>
          <th><small>Part Number</small></th>
          <th><small>Description</small></th>
          <th><small>Category</small></th>
          <th><small>Sub Category</small></th>
          <th><small>Manufacturer</small></th>
          <th><small>Manufacturer PN</small></th>
          <th><small>Dimensions</small></th>
          <th><small>Finish</small></th>
          <th><small>Plating</small></th>
          <th><small>Qty</small></th>
          <th><small>UoM</small></th>
          <th><small>Cost/Unit</small></th>
          <th><small>Extended Cost</small></th>

        </tr>

        {% for part in object.assemblyquantity_set.all  %}
        <tr>
          <td><small>{{part.part.pk}}</small></td>
          <td><small>{{part.part.part_name}}</small></td>
          <td><small>{{part.part.part_number}}</small></td>
          <td><small>{{part.part.description}}</small></td>
          <td><small>{{part.part.category}}</small></td>
          <td><small>{{part.part.sub_category}}</small></td>
          <td><small>{{part.part.manufacturer}}</small></td>
          <td><small>{{part.part.manufacturer_pn}}</small></td>
          <td><small>{{part.part.dimensions}}</small></td>
          <td><small>{{part.part.finish}}</small></td>
          <td><small>{{part.part.plating}}</small></td>
          <td><small>{{part.quantity}}</small></td>
          <td><small>{{part.part.uom}}</small></td>
          <td><small>{{part.part.unit_cost}}</small></td>
          <td><small>fix</small></td>
        </tr>
        <tr>
          <td><small>{{part.subassembly.pk}}</small></td>
          <td><small>{{part.subassembly.sub_assembly_name}}</small></td>
          <td><small>{{part.subassembly.sub_assembly_number}}</small></td>
          <td><small>{{part.subassembly.description}}</small></td>
          <td><small>{{part.subassembly.category}}</small></td>
          <td><small>{{part.subassembly.sub_category}}</small></td>
          <td><small>{{part.subassembly.mfg_supplier}}</small></td>
          <td><small>{{part.subassembly.mfg_supplier_pn}}</small></td>
          <td><small></small></td>
          <td><small>{{part.subassembly.finish}}</small></td>
          <td><small>{{part.subassembly.plating}}</small></td>
          <td><small>{{part.quantity}}</small></td>
          <td><small>Each</small></td>
          <td><small>{{part.subassembly.subassembly_cost}}</small></td>
          <td><small>fix</small></td>
        </tr>
        {% endfor %}
      </table>
  {% endfor %}
</div>
{% endblock %}
