{% extends "bom.html" %}
{% load mathfilters %}
{% load app_filters %}

{% block content %}
{{part}}{{sub}}
<div class="row">
  {% for object in object_list  %}
    <div class="col-md-12 well">
      <h3>{{object.assembly_name}}</h3>
      <h3><small>Part Number:</small> {{object.assembly_part_number}}  |  <small>ID:</small> {{object.pk}}  |  {% if object.cad_file %}<small><a href="{{object.cad_file.url}}">Click to View CAD</a></small>{% else %}<small>No CAD File Uploaded</small>{% endif %}  |  <small>Cost/Assembly: </small>${{object.cost }}<a class="btn btn-success pull-right" type="button" name="drilldown" href="{% url 'assembly_detail_view' object.pk %}">Details</a></h3>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <tr>
          <th><small>Part Id</small></th>
          <th><small>Part Name</small></th>
          <th><small>Part Number</small></th>
          <th><small>Description</small></th>
          <th><small>Category</small></th>
          <th><small>Sub Category</small></th>
          <th><small>Manufacturer</small></th>
          <th><small>Manufacturer PN</small></th>
          <th><small>Dimensions</small></th>
          <th><small>Finish</small></th>
          <th><small>Plating</small></th>
          <th><small>Qty</small></th>
          <th><small>UoM</small></th>
          <th><small>Cost/Unit</small></th>
          <th><small>Extended Cost</small></th>
        </tr>

        {% for part in object.assemblyquantity_set.all  %}
          {% if part.part %}
          <tr>
          <td><a href="{% url 'part_detail_view' part.part.id %}"><small>{{part.part.pk}}</small></a></td>
          <td><small>{{part.part.part_name}}</small></td>
          <td><small>{{part.part.part_number}}</small></td>
          <td><small>{{part.part.description}}</small></td>
          <td><small>{{part.part.category}}</small></td>
          <td><small>{{part.part.sub_category}}</small></td>
          <td><small>{{part.part.manufacturer}}</small></td>
          <td><small>{{part.part.manufacturer_pn}}</small></td>
          <td><small>{{part.part.dimensions}}</small></td>
          <td><small>{{part.part.finish}}</small></td>
          <td><small>{{part.part.plating}}</small></td>
          <td><small>{{part.quantity}}</small></td>
          <td><small>{{part.part.uom}}</small></td>
          <td><small>$ {{part.part.unit_cost}}</small></td>
          <td><small>$ {{part.quantity|mul:part.part.unit_cost}}</small></td>
          </tr>
        {% endif %}
        <tr>
        {% if part.subassembly %}
          <td><a href="{% url 'subassembly_detail_view' part.subassembly.id %}"><small>{{part.subassembly.pk}}</small></a></td>
          <td><small>{{part.subassembly.sub_assembly_name}}</small></td>
          <td><small>{{part.subassembly.sub_assembly_number}}</small></td>
          <td><small>{{part.subassembly.description}}</small></td>
          <td><small>{{part.subassembly.category}}</small></td>
          <td><small>{{part.subassembly.sub_category}}</small></td>
          <td><small>{{part.subassembly.mfg_supplier}}</small></td>
          <td><small>{{part.subassembly.mfg_supplier_pn}}</small></td>
          <td><small></small></td>
          <td><small>{{part.subassembly.finish}}</small></td>
          <td><small>{{part.subassembly.plating}}</small></td>
          <td><small>{{part.quantity}}</small></td>
          <td><small>Each</small></td>
          <td><small>$ {{ part.subassembly.cost }}</small></td>
          <td><small>$ {{ part.subassembly.cost|mul:part.quantity }}</small></td>
          {% endif %}
        {% endfor %}
      </tr>
    </table>
  {% endfor %}
</div>
{% endblock %}
