{% extends "bom.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 well well-lg">
    <h3 class="pull-left">Category Listing</h3>
  </div>
        {% for object in object_list %}
            <div class="col-md-12 well well-sm">
              <h3><small>Category: </small>{{object.category}}<a class="btn btn-success pull-right" type="button" name="drilldown" href="{% url 'create_category_view' %}">Update Category Information</a></h3>
            </div>
        {% endfor %}
  </div>
</div>
{% endblock %}
