{% extends "bom.html" %}

{% block content %}
        <div class="row">
          <div class="col-md-12 well">
            <h4>{{object.first_name}} {{object.last_name}}  |  {{object.title}}  |  {{ object.company_name}}</h4>
          </div>
          <div class="col-md-6 well">
            <h5><small>Company:  </small></h5><h5><strong>{{object.company_name}}</strong></h5>
            <h5><small>Contact:  </small></h5><h5><strong>{{object.first_name}} {{object.last_name}}</strong></h5>
            <h5><small>Title:  </small></h5><h5><strong>{{object.title}}</strong></h5>
            <h5><small>Phone:  </small></h5><h5><strong>{{object.phone_number}}</strong></h5>
            <h5><small>Email:  </small></h5><h5>{% for email in object.email_addresses %}
              <a href="mailto:{{ email.address }}"><strong>{{ email.address }}
            {% endfor %}</strong></a></h5>
          </div>
          <div class="col-md-6 well">
            <h5><small>Website: </small></h5><h5><a href="{{ object.web_address }}"><strong>{{object.web_address}}</strong></a></h5>
            <h5><small>Street Address:  </small></h5><h5><strong>{{object.street_address}}</strong></h5>
            <h5><small>City:  </small></h5><h5><strong>{{object.city}}</strong></h5>
            <h5><small>State:  </small></h5><h5><strong>{{object.state}}</strong></h5>
            <h5><small>Zip Code:  </small></h5><h5><strong>{{object.zip_code}}</strong></h5>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
