{% extends "bom.html" %}


{% block content %}
  <div class="row">
    <div class="col-md-12 well well-lg">
      <h3 class="pull-left">Customer Listing</h3><a class="btn btn-info pull-right" type="button" name="refresh" href="" method="post">Refresh View</a>
    </div>
    {% for object in object_list %}
      <div class="col-md-12 well well-sm">
        <div class="col-md-3">
          <h4>{{object.first_name}} {{object.last_name}}</h4>
        </div>
        <div class="col-md-2">
          <h5>Title: </h5>{{object.title}}
        </div>
        <div class="col-md-4">
          <h5>Company: </h5>{{object.company_name}}
        </div>
        <div class="col-md-2">
          <h5>Customer ID: </h5>{{object.pk}}
        </div>
        <a class="btn btn-success pull-right" type="button" name="drilldown" href="{% url 'customer_detail_view' object.pk %}">Details</a></h4>
      </div>
    {% endfor %}
  </div>
{% endblock %}
