{% extends "bom.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 well">
    <h2>Part Id: {{object.pk}}  :  {{object.part_name}}</h2>
  </div>
  <div class="col-md-6 well">
    <h5><small>Part Name:  </small><strong>{{object.part_name}}</strong></h5>
    <h5><small>Part Number:  </small><strong>{{object.part_number}}</strong></h5>
    <h5><small>Description:  </small><strong>{{object.description}}</strong></h5>
    <h5><small>Category:  </small><strong>{{object.category}}</strong></h5>
    <h5><small>Sub Category:  </small><strong>{{object.sub_category}}</strong></h5>
    <h5><small>CAD File:  </small><strong>{{object.cad_file}}</strong></h5>
  </div>

  <div class="col-md-6 well">
    <h5><small>Manufacturer:  </small><strong>{{object.manufacturer}}</strong></h5>
    <h5><small>Manufacturer Part Number:  </small><strong>{{object.manufacturer_pn}}</strong></h5>
    <h5><small>Finish:  </small><strong>{{object.finish}}</strong></h5>
    <h5><small>Plating:  </small><strong>{{object.plating}}</strong></h5>
    <h5><small>Cost:  </small><strong>Needs to come from Project Data</strong></h5>
    <h5><small>Cost:  </small><strong>{{object.unit_cost}}</strong></h5>
  </div>
  <div class="col-md-12 well">
  <h5>{{object.notes}}</h5>
  </div>
</div>
{% endblock %}
