{% extends "bom.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12 well">
    <h3><small>Part ID: </small>{{object.pk}}  |  {{object.part_name}}<img class="thumbnail pull-right" height="250px" width="250px" src="{{object.image_url}}" alt="{{object.part_name}}" /></h3>
    <h3><small>Unit Cost: </small>$ {{object.unit_cost}}</h3>
    <h3><small>Part Url: </small></h3><h5>{{object.part_url}}</h5>
  </div>
  <div class="col-md-6 well">
    <h5><small>Part Name:  </small><strong>{{object.part_name}}</strong></h5>
    <h5><small>Part Number:  </small><strong>{{object.part_number}}</strong></h5>
    <h5><small>Description:  </small><strong>{{object.description}}</strong></h5>
    <h5><small>Category:  </small><strong>{{object.category}}</strong></h5>
    <h5><small>Sub Category:  </small><strong>{{object.sub_category}}</strong></h5>
  </div>

  <div class="col-md-6 well">
    <h5><small>Manufacturer:  </small><strong>{{object.manufacturer}}</strong></h5>
    <h5><small>Manufacturer Part Number:  </small><strong>{{object.manufacturer_pn}}</strong></h5>
    <h5><small>Finish:  </small><strong>{{object.finish}}</strong></h5>
    <h5><small>Plating:  </small><strong>{{object.plating}}</strong></h5>
    {% if object.cad_file %}
    <h5><small><a href="{{object.cad_file.url}}">Click to View CAD</a></small></h5>
      {% else %}
        <h5><small>No CAD File Uploaded</small></h5>
    {% endif %}
  </div>
  <div class="col-md-12 well">
  <h5><small>Notes: </small>{{object.notes}}</h5>
  </div>
{% endblock %}
