{% extends "bom.html" %}

{% block content %}

      <div class="row">
        <div class="col-md-12 well well-lg">
          <h3 class="pull-left">Sub Category Listing</h3>
          </div>
        {% for object in object_list %}
            <div class="col-md-12 well well-sm">
              <h4><small>Category: </small>{{object.category}}  |  <small>Sub Category: </small>{{object.subcategory}}<a class="btn btn-success pull-right" type="button" name="drilldown" href="{% url 'create_category_view' %}">Update Sub Category Information</a></h4>
            </div>
        {% endfor %}
  </div>
</div>
{% endblock %}
