{% extends "base.html" %}

{% block content %}
<div class="row">
  <nav>
    <div class="col-md-2">
      <a href="{% url 'create_customer_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Customer</small></a>
      <a href="{% url 'customer_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Customer Listing</small></a>
      <a href="{% url 'create_supplier_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Supplier</small></a>
      <a href="{% url 'supplier_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Supplier Listing</small></a>
      <a href="{% url 'create_part_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Part</small></a>
      <a href="{% url 'part_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Part Listing</small></a>
      <a href="{% url 'create_subassembly_view' %}" type="button" class="btn btn-primary btn-block"><small>Create SubAssmbly</small></a>
      <a href="{% url 'subassembly_list_view' %}" type="button" class="btn btn-primary btn-block"><small>SubAssembly Listing</small></a>
      <a href="{% url 'create_assembly_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Assembly</small></a>
      <a href="{% url 'assembly_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Assembly Listing</small></a><a href="{% url 'create_project_view' %}" type="button" class="btn btn-primary btn-block"><small>Create Project</small></a>
      <a href="{% url 'project_list_view' %}" type="button" class="btn btn-primary btn-block"><small>Project Listing</small></a>
    </div>
  </nav>
  <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 well">
            <h2>Supplier ID: {{object.pk}}  :  {{object.name}}</h2>
          </div>
          <div class="col-md-12 well">
            <h5><small>Company:  </small><strong>{{object.company_name}}</strong></h5>
            <h5><small>Contact:  </small><strong>{{object.first_name}} {{object.last_name}}</strong></h5>
            <h5><small>Title:  </small><strong>{{object.title}}</strong></h5>
            <h5><small>Phone:  </small><strong>{{object.phone_number}}</strong></h5>
            <h5><small>Email:  </small><a href="mailto:{{ object.email_address }}"><strong>TBD</strong></a></h5>
            <h5><small>Website: </small><a href="{{ object.web_address }}"><strong>{{object.web_address}}</strong></a></h5>
            <h5><small>Street Address:  </small><strong>{{object.street_address}}</strong></h5>
            <h5><small>City:  </small><strong>{{object.city}}</strong></h5>
            <h5><small>State:  </small><strong>{{object.state}}</strong></h5>
            <h5><small>Zip Code:  </small><strong>{{object.zip_code}}</strong></h5>
            <h5><small>Country:  </small><strong>{{object.country}}</strong></h5>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
