{% extends "base.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <form class="" action="" method="post">
        {{form|bootstrap}}
        <input class="btn btn-success" type="submit" name="newuser" value="Create User!">
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
