{% load staticfiles %}
{% load bootstrap %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{subasmbly} - Revision Control for Makers</title>
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img id="logo-sm" src="{% static 'app/images/logo_sm.jpg' %}" alt="{subasmbly} - Revision Control for Makers"/></a>
        </div>
      </div>
    </nav>
<div class="row">
    <div class="col-md-2">
      <div class="btn btn-default btn-xs btn-block"><h4>Project Management</h4></div>
      <a href="{% url 'create_customer_view' %}" type="button" class="btn btn-primary btn-block">Create Customer</a>
      <a href="{% url 'customer_list_view' %}" type="button" class="btn btn-primary btn-block">Customer Listing</a>
      <a href="{% url 'create_supplier_view' %}" type="button" class="btn btn-primary btn-block">Create Supplier</a>
      <a href="{% url 'supplier_list_view' %}" type="button" class="btn btn-primary btn-block">Supplier Listing</a>
      <a href="{% url 'create_project_view' %}" type="button" class="btn btn-primary btn-block">Create Project</a>
      <a href="{% url 'project_list_view' %}" type="button" class="btn btn-primary btn-block">Project Listing</a>
      <div class="btn btn-default btn-xs btn-block"><h4>Parts & Assembly Mgmt</h4></div>
      <a href="{% url 'create_part_view' %}" type="button" class="btn btn-primary btn-block">Create Part</a>
      <a href="{% url 'part_list_view' %}" type="button" class="btn btn-primary btn-block">Part Listing</a>
      <a href="{% url 'create_subassembly_view' %}" type="button" class="btn btn-primary btn-block">Create SubAssmbly</a>
      <a href="{% url 'subassembly_list_view' %}" type="button" class="btn btn-primary btn-block">SubAssembly Listing</a>
      <a href="{% url 'create_assembly_view' %}" type="button" class="btn btn-primary btn-block">Create Assembly</a>
      <a href="{% url 'assembly_list_view' %}" type="button" class="btn btn-primary btn-block">Assembly Listing</a>
      <div class="btn btn-default btn-xs btn-block"><h4>Category Management</h4></div>
      <a href="{% url 'create_category_view' %}" type="button" class="btn btn-primary btn-block">Create Category</a>
      <a href="{% url 'category_list_view' %}" type="button" class="btn btn-primary btn-block">Category Listing</a>
      <a href="{% url 'create_subcategory_view' %}" type="button" class="btn btn-primary btn-block">Create SubCategory</a>
      <a href="{% url 'subcategory_list_view' %}" type="button" class="btn btn-primary btn-block">SubCategory Listing</a>
      <br>
      <br>
      <br>

    </div>
    <div class="col-md-9">
      {% block content %}
          There is nothing here.
      {% endblock %}
    </div>
  </body>
</html>
