{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="background" class="inner" style="background-image: url({% static "app/images/highrise_login.jpg" %}");>
  <div class="container">
      <img id="highrise" src="{% static 'app/images/highrise_tag_line.png' %}" alt="{subasmbly} Revision Control for Makers"></img>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}
