{% extends "base.html" %}
{% load static %}

{% block content %}

  <div class="container">
      <img id="mainimage" src="{% static 'app/images/logo.png' %}" alt="{subasmbly} Revision Control for Makers"></img>
      <br>
      <img id="mainimage" src="{% static 'app/images/tag_line.png' %}" alt="{subasmbly} Revision Control for Makers"></img>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-10">
      <a href="{% url 'create_user' %}"><button id="getstarted" type="button" name="getstarted" class="btn btn-success btn-lg pull-right">Get Started With Subasmbly!</button></a>
    </div>
  </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock %}
