{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <div>
    <div class="container page-header">
      <h1 id="title">This is a Title.  It is Very Important.  It's About Bill's Materials.</h1>
    </div>
    <img id="mainimage" src="{% static 'app/images/car.jpg' %}" class="img-thumbnail drop-shadow" alt="Bill of Materials" />
  </div>
  <div class="container">
    <div class="page-header">
    <h3>Generic Title About Various App Features</h3>
    </div>
    <div id='one'><img id="tripleimg" src="{% static 'app/images/engine.jpg' %}" class="img-thumbnail img-rounded drop-shadow" alt="Bill of Materials"></div>
    <div id='two'><img id="tripleimg" src="{% static 'app/images/driveshaft.jpg' %}" class="img-thumbnail img-rounded drop-shadow" alt="Bill of Materials"></div>
    <div id='three'><img id="tripleimg" src="{% static 'app/images/engineblock.jpg' %}" class="img-thumbnail img-rounded drop-shadow" alt="Bill of Materials"></div>
  </div>
  <div class="container">
    <div id='textone'><p>
      Tofu pop-up vice venmo, art party wolf twee. Hella cronut shoreditch, green juice paleo crucifix 90's normcore austin. Bitters kinfolk tattooed hammock ramps, selvage biodiesel leggings everyday carry actually sartorial. Letterpress kinfolk health goth, chia pitchfork swag etsy chambray before they sold out paleo tousled kogi.
    </p></div>
    <div id='texttwo'><p>
      Tofu pop-up vice venmo, art party wolf twee. Hella cronut shoreditch, green juice paleo crucifix 90's normcore austin. Bitters kinfolk tattooed hammock ramps, selvage biodiesel leggings everyday carry actually sartorial. Letterpress kinfolk health goth, chia pitchfork swag etsy chambray before they sold out paleo tousled kogi.
    </p></div>
    <div id='textthree'><p>
      Tofu pop-up vice venmo, art party wolf twee. Hella cronut shoreditch, green juice paleo crucifix 90's normcore austin. Bitters kinfolk tattooed hammock ramps, selvage biodiesel leggings everyday carry actually sartorial. Letterpress kinfolk health goth, chia pitchfork swag etsy chambray before they sold out paleo tousled kogi.
    </p></div>
  </div>
{% endblock %}
