{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <div>
    <div class="container page-header">
      <h1 id="title">This is a Title.  It is Very Important.  It's About Bill's Materials.</h1>
    </div>
    <img id="mainimage" src="{% static 'app/images/car.jpg' %}" class="img-thumbnail drop-shadow" alt="Bill of Materials" />
  </div>
  <div class="container">
    <div class="page-header">
    <h3>Generic Title About Various App Features</h3>
    </div>
    <div id='one'><img id="tripleimg" src="{% static 'app/images/engine.jpg' %}" class="img-thumbnail img-rounded drop-shadow" alt="Bill of Materials"></div>
    <div id='two'><img id="tripleimg" src="{% static 'app/images/driveshaft.jpg' %}" class="img-thumbnail img-rounded drop-shadow" alt="Bill of Materials"></div>
    <div id='three'><img id="tripleimg" src="{% static 'app/images/engineblock.jpg' %}" class="img-thumbnail img-rounded drop-shadow" alt="Bill of Materials"></div>
  </div>
  <div class="container">
    <div id='textone'><p>
      Tofu pop-up vice venmo, art party wolf twee. Hella cronut shoreditch, green juice paleo crucifix 90's normcore austin. Bitters kinfolk tattooed hammock ramps, selvage biodiesel leggings everyday carry actually sartorial. Letterpress kinfolk health goth, chia pitchfork swag etsy chambray before they sold out paleo tousled kogi.
    </p></div>
    <div id='texttwo'><p>
      Tofu pop-up vice venmo, art party wolf twee. Hella cronut shoreditch, green juice paleo crucifix 90's normcore austin. Bitters kinfolk tattooed hammock ramps, selvage biodiesel leggings everyday carry actually sartorial. Letterpress kinfolk health goth, chia pitchfork swag etsy chambray before they sold out paleo tousled kogi.
    </p></div>
    <div id='textthree'><p>
      Tofu pop-up vice venmo, art party wolf twee. Hella cronut shoreditch, green juice paleo crucifix 90's normcore austin. Bitters kinfolk tattooed hammock ramps, selvage biodiesel leggings everyday carry actually sartorial. Letterpress kinfolk health goth, chia pitchfork swag etsy chambray before they sold out paleo tousled kogi.
    </p></div>
  </div>
  <div class="container">
    <div class="page-header">
    <h3>But WAIT! There are More App Features!</h3>
    </div>
      <img id="mainimage" src="{% static 'app/images/dyson.jpg' %}" class="img-thumbnail drop-shadow" alt="Bill of Materials" />
      <div class="container">
        <div id='textfour'><p>
Leggings freegan four loko, asymmetrical tofu pour-over drinking vinegar hella post-ironic keytar. Lo-fi narwhal thundercats gluten-free, kinfolk ethical poutine raw denim disrupt small batch DIY hoodie XOXO beard. Pabst letterpress craft beer man bun. Actually bushwick vice kogi, humblebrag 90's ethical portland thundercats meggings hella. PBR&B squid letterpress man braid selfies. Tattooed fashion axe chambray normcore sriracha bitters. Asymmetrical quinoa mlkshk, fanny pack bespoke neutra bicycle rights seitan normcore yr synth 8-bit.        </p></div>
  </div>
  <footer>
    <div class=" container row">
      <div id="copyright" class="col-md-4"><span class="glyphicon glyphicon-copyright-mark"></span><p>Copyright 2016 William John Gardner</></div>

      <div class="col-md-8">
        <ul>
          <li>About Us</li>
          <li>Contact</li>
          <li>Press Room</li>
        </ul>
      </div>
    </div>
  </footer>
{% endblock %}
