{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This is a Test</title>
    <link rel="stylesheet" href="{% static "app/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "app/css/bootstrap.css" %}" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{% static "app/css/main.css" %}" media="screen" charset="utf-8">
  </head>
  <body>
    <!-- BEGIN NAVIGATION -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="masthead">
          <a href="/"><h1>{subasmbly}</h1></a>
        </div>
        <div  class="navbar navbar-default navbar-static-top">
              <ul class="nav nav-justified">
                <li role="presentation" class="active"><a href="/">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
              </ul>
        </div>
      </div>
    </div>
    <!-- END NAVIGATION -->
    <!-- BEGIN CAROUSEL -->
    <div class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="{% static "app/images/barn.jpg" %}" alt="Image 1">
          <div class="carousel-caption"><h4>Four loko disrupt ethical, blog tattooed swag sustainable chambray brooklyn.</h4></div>
        </div>
        <div class="item">
          <img src="{% static "app/images/barn.jpg" %}" alt="Image 2">
          <div class="carousel-caption"><h4>Four loko disrupt ethical, blog tattooed swag sustainable chambray brooklyn.</h4></div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- END CAROUSEL -->
      <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>

    {% block columns %}
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="center-block">
                <h4 id="trititle" class="text-center">Complete Part and Assembly Management</h4>
              </div>
              <img id="dropshadow" src="{% static "app/images/wrench.jpg" %}" alt="" class="img-circle center-block"/>
              <p id="tritext" class="text-center">
                Four loko disrupt ethical, blog tattooed swag sustainable chambray brooklyn. Etsy austin ennui, you probably haven't heard of them meggings polaroid green juice art party franzen XOXO pinterest stumptown post-ironic. Marfa forage vice echo park retro, skateboard gluten.
              </p>
              <button type="button" class="btn btn-success">Learn More!</button>
            </div>
            <div class="col-lg-4">
              <h4 id="trititle" class="text-center">Online Revision Control</h4>
              <img id="dropshadow" src="{% static "app/images/maker.jpg" %}" alt="" class="img-circle center-block"/>
              <p id="tritext" class="text-center">
                Four loko disrupt ethical, blog tattooed swag sustainable chambray brooklyn. Etsy austin ennui, you probably haven't heard of them meggings polaroid green juice art party franzen XOXO pinterest stumptown post-ironic. Marfa forage vice echo park retro, skateboard gluten.
              </p>
              <button type="button" class="btn btn-success">Learn More!</button>
            </div>
            <div class="col-lg-4">
              <h4 id="trititle" class="text-center">Integrated CRM With Highrise</h4>
              <img id="dropshadow" src="{% static "app/images/highriselogo.jpg" %}" alt="" class="img-circle center-block"/>
              <p id="tritext" class="text-center">
                Four loko disrupt ethical, blog tattooed swag sustainable chambray brooklyn. Etsy austin ennui, you probably haven't heard of them meggings polaroid green juice art party franzen XOXO pinterest stumptown post-ironic. Marfa forage vice echo park retro, skateboard gluten.
              </p>
              <button type="button" class="btn btn-success">Learn More!</button>
            </div>
          </div>
        </div>
    {% endblock %}
    {% block action %}
    <br>
      <div id="dropshadow" class="jumbotron">
        <div class="container">
          <h1 class="text-center">Caviar and Nanners!</h1>
          <p class="lead">
            Four loko disrupt ethical, blog tattooed swag sustainable chambray brooklyn. Etsy austin ennui, you probably haven't heard of them meggings polaroid green juice art party franzen XOXO pinterest stumptown post-ironic. Marfa forage vice echo park retro, skateboard gluten-free.
          </p>
          <button type="button" class="btn btn-lg btn-success">Click Here to Get Started!</button>
        </div>
      </div>
    {% endblock %}
    {% block video %}
    <div class="container">
      <h2 class="text-center">Subasmbly Demo Video</h2>
      <!-- 16:9 aspect ratio -->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/127409450" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/127409450">MOGWAI: HELICON 1 (2015)</a> from <a href="https://vimeo.com/209mm">Craig Murray</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
    {% endblock %}
    <div class="container">
      <footer>
        <h6><div style="float:right;">  &copy; Copyright 2016 -
          <script language="JavaScript" type="text/javascript">
          now = new Date
          theYear=now.getYear()
          if (theYear < 1900)
          theYear=theYear+1900
          document.write(theYear)
          </script> William John Gardner</div><h6>
      </footer>
    </div>
      <script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
      <script type="text/javascript" src="{% static 'app/js/bootstrap.js' %}"></script>
    {% block extrascript %}

    {% endblock %}
  </body>
</html>
