{% extends "bom.html" %}
{% load bootstrap %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h3>Welcome to {subasmbly}, {{request.user}}!</h3>
      <h4>If necessary, please update your user profile.</h4>
      <br>
      <form class="" action="" method="post">
        {% csrf_token %}
          {{form|bootstrap}}
        <input class="btn btn-success" type="submit" name="profile" value="Update Your Profile">
      </form>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
