#mainimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.one, .two, .three{
    width: 950px;
    margin-top:90px;
    margin-left: auto;
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

H3 { text-align: center }

input[type='button'] {
   text-align: left;
}
